@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 4.5rem;
    font-weight: 100;
    color: white;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.2rem;
}

p {
  color: white;
}

a {
  color: white;
  font-weight: 100;
}

@layer components {
  .bg-pan-left {
    -webkit-animation: bg-pan-left 30s linear infinite alternate both;
    animation: bg-pan-left 30s linear infinite alternate both;
  }
  @-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  @keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}
